<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH1ty1y0Kr2kwBagNnUSM2UMaVMvQjKU0</string>
	<key>GCM_SENDER_ID</key>
	<string>840520942846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.1977.ap1977</string>
	<key>PROJECT_ID</key>
	<string>tvde-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tvde-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840520942846:ios:0075ef21a8208c61a2d1af</string>
</dict>
</plist>